@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.scss */

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100vh !important;
}

/* Body Genel Stilleri */
body {
  font-family: "Arial", sans-serif;
  // background-color: #f5f5f5;
  color: #333;
  
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Link Stilleri */
a {
  text-decoration: none;
  color: inherit;
}
